body {
    /* incase background image decides to not work again */
    background-color: grey;
    background-image: url(bg-seamless.jpg);
    font-family: 'Expletus Sans', cursive;
}

.header{
    margin: 0;
}

.myName {
    font-size: 25px;
}

.mainBlock{
    margin-top: 20px;
}
.mainBlock p{
    font-family: 'Oxygen', sans-serif;
    font-size: 20px;
}

.aboutBlock p{
    text-align: center;
}

.portfolioPics{
    max-width: 300px;
    max-height: 300px;
    margin: auto;
    margin-bottom: 20px;
}

footer{
    font-family: 'Oxygen', sans-serif;
    outline: black;
}
