body {
    background-color: grey;
    background-image: url(https://codyyuill.github.io/BootstrapPortfolio/assets/bg-seamless.jpg);
    font-family: 'Expletus Sans', cursive;
}

.header{
    margin: 0;
}

.myName {
    font-size: 25px;
}

.mainBlock{
    margin-top: 20px;
}
.mainBlock p{
    font-family: 'Oxygen', sans-serif;
    font-size: 20px;
}

.aboutBlock p{
    text-align: center;
}
